# Google Apps Script Web App URL
# Follow GOOGLE_SHEETS_SETUP.md to create this URL
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxh7nP7nq3pXO5Jvkhn-zDTN0cq4XDS3SZD2pr5Gi5vNSnz6jePVBj7WwQOPp0XDziT/exec

# Public site URL used for canonical links, sitemap and structured data
# Example: https://semi-des-quais-de-seine.fr
NEXT_PUBLIC_SITE_URL=https://www.semiquaisdeseine.fr/
